html, body { height:100%; width:100%; margin:0; padding:0; overflow:hidden }
svg { position:fixed; top:0; left:0; height:100%; width:100% }


.bar {
    stop-opacity: 1;
    stop-color: red;
}
.clear {
    stop-opacity: 0;
}


