
 <svg>
    
    <linearGradient id="gradient-opacity" x1="0" x2="0" y1="0" y2="1">      
        <stop offset="35%" style="stop-opacity: 1;stop-color:{{widgetColor}}"></stop>
        <stop offset="35%" style="stop-opacity: 0;"></stop>
      </linearGradient>
      
 </svg>
